@charset "utf-8";
/*------------// Overall //------------------*/
html,body{height:100%;overflow:hidden;font-size:12px;}
body{color:#5a5a5a; margin:0; background:#FFF;}
body.login{ background:url(./web_login_bg.jpg) no-repeat scroll center center / cover }
table,td{font:12px/180% Arial, "宋体",Helvetica, sans-serif,Verdana; color:#58595b;}
table{border-collapse:collapse; border-spacing:0; empty-cells:show; }
th, td { border-collapse:collapse; }
A:link{text-decoration:none; color:#58595b;}
A:visited{text-decoration:none; color:#58595b;}
A:hover{text-decoration:none; color:#206fd5;}
img{ border:0; }
div,p,img,ul,li,form,input,label,span,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{   border:none;padding:0 } 
ol,ul,li{list-style-type:none;}
.overz{ overflow:auto; zoom:1; overflow-x:hidden; overflow-y:hidden;}
.dspn{ display:none;}
a{blr:expression(this.onFocus=this.blur())} /*for IE*/
a{outline:none;} /*for Firefox*/
html{-webkit-text-size-adjust:none;}

/*--login--*/
.login_m{margin:150px auto 0;background:#fff;border-radius:4px;box-sizing:border-box;padding:40px;max-width:420px;min-height:420px;}
.login_logo{ text-align:center; margin-bottom:25px;}
.login_boder{background:#fff/*url(./login_m_bg.png) no-repeat*/;}

input[type="text"], input[type="file"], input[type="password"], input[type="email"], select{font-family:微软雅黑;border:1px solid #dcdee0;border-radius:3px;color:#555555;font-size:14px;height:50px;outline:medium none;padding:0 0px;vertical-align:middle;width:100%;}
input[type="text"]:focus, input[type="file"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus{font-family:微软雅黑;border:1px solid #27a9e3;}
input[type="submit"], input[type="button"]{font-family:微软雅黑;background:#27a9e3;border:medium none;border-radius:3px;color:#ffffff;cursor:pointer;display:inline-block;font-size:18px;line-height:24px;margin:0;outline:medium none;padding:12px 24px;text-align:center;vertical-align:middle;white-space:nowrap;width:100%;}
.message{background:#27a9e3;color:#fff;font-size:16px;margin:10px 0 0 -58px;padding:12px 10px 12px 60px;position:relative;font-family:微软雅黑;}
#darkbannerwrap{background:url("./aiwrap.png") repeat;height:10px;margin:0 0 20px -58px;position:relative;width:18px;}
label{display:block;font-weight:normal;}
hr.hr15{border:medium none;height:15px;margin:0;padding:0;width:100%;}

.login_padding{}
.login_boder h2{ color:#4f5d80; text-transform:uppercase; font-size:12px; font-weight:normal; margin-bottom:11px;}
.forget_model_h2{color:#4f5d80; font-size:12px; font-weight:normal; margin-bottom:11px;}

.login_boder input.txt_input{ width:295px; height:36px; border:1px solid #cad2db; background:url(./txt_input_bg.gif) no-repeat;  padding:0 5px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; line-height:36px; margin-bottom:20px; font-size:14px; color:#717171; font-family:Arial;background:url(./login_img_15.png) 10px center no-repeat;text-indent:2.5em;}
.login_boder input.txt_input2{ margin-bottom:20px; background:url(./login_img_11.png) 10px center no-repeat;text-indent:2.5em;}
.login_boder input.txt_input3{background:url(./login_img_15.png) 10px center no-repeat;text-indent:2.5em;}
.login_boder input.txt_input4{background:url(./login_img_14.png) 10px center no-repeat;text-indent:2.5em;}
.login_boder input.txt_input:focus{ transition:border linear .2s,box-shadow linear .2s; -moz-transition:border linear .2s,-moz-box-shadow linear .2s; -webkit-transition:border linear .2s,-webkit-box-shadow linear .2s; outline:none;border-color:rgba(173,173,173.75); box-shadow:0 0 8px rgba(173,173,173,.5); -moz-box-shadow:0 0 8px rgba(173,173,173,.5); -webkit-box-shadow:0 0 8px rgba(173,173,173,3); border:1px solid #6192c8;}
.checkCodeImg{position:absolute;right:1px;top:4px;}
.login_boder p.forgot{ font-size:11px;  text-align:right; margin-bottom:15px;}
.login_boder p.forgot a,.login_boder p.forgot a:visited{color:#8c8e91;}
.login_boder p.forgot a:hover{color:#206fd5;}
