
.home-news li{
  padding: 0 !important;
}
.home-news .list-item__container {
  position: relative;
  display: flex;
  padding: 33px;
}

.home-news .list-item__content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 9px;
}

.home-news .list-item__content-header {
  display: flex;
  align-items: center;
}

.home-news .list-item__content .title {
  min-width: 0;
  margin-right: 8px;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  color: var(--text-color-1);
}

.home-news .list-item__content .desc {
  font-size: 14px;
  line-height: 1;
  color: var(--text-color-light-1);
}

.home-news .list-item__content .link {
  display: block;
  width: 40px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--main-color);
  color: var(--white);
}
.home-ability{
  padding-top: 150px;
}

@media only screen and (max-width: 1200px) {
  .home-news {
    padding: 24px 0;
  }

  .home-news .list > li {
    border: none;
    width: 100%;
    margin-bottom: 24px;
  }

  .home-news .list > li:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 450px) {
  .home-news .list-item__content .title {
    font-size: 16px;
  }

  .home-news .list-item__content .desc {
    font-size: 12px;
  }
}

.home-ability .row__title {
  margin-bottom: 80px;
}

.home-ability-2 .list-1 {
  margin-bottom: 128px;
}

.home-block-3-left {
  width: 480px;
  height: 480px;
  position: relative;
  float: left;
}

.home-block-3-left img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  visibility: hidden;
  opacity: 0;
}

.home-block-3-left img.on {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out;
}

.home-block-3-right {
  width: 640px;
  float: right;
  padding-top: 100px;
}

.home-block-3-right dl {
  height: 117px;
  position: relative;
}

.home-block-3-right dl dt {
  line-height: 42px;
  height: 42px;
  position: relative;
}

.home-block-3-right dl dt:before {
  content: "";
  position: absolute;
  left: -44px;
  top: 5px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 6px solid var(--blue-1);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.home-block-3-right dl.on dt:before {
  border-color: var(--main-color);
}

.home-block-3-right dl dt p {
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  color: var(--text-color-2);
  float: left;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.home-block-3-right dl.on dt p {
  color: var(--main-color);
}

.home-block-3-right dl dd {
  font-size: 14px;
  line-height: 1;
  color: var(--text-color-light-2);
}

@media (max-width: 1199px) {
  .home-block-3-left {
    width: 380px;
  }

  .home-block-3-right {
    width: 540px;
  }
}

@media (max-width: 993px) {
  .home-block-3-left {
    width: 380px;
    height: 380px;
    margin: 0 auto;
    float: none;
  }

  .home-block-3-right {
    width: 100%;
    float: none;
    padding-top: 40px;
  }

  .home-block-3-right dl {
    height: auto;
    margin-bottom: 25px;
  }

  .home-block-3-right dl {
    width: 80%;
    margin-bottom: 18px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .home-block-3-left {
    width: 220px;
    height: 220px;
    margin-top: 15px;
  }

  .home-block-3-right dl dt p {
    font-size: 20px;
  }

  .home-block-3-right dl dd {
    line-height: 24px;
    height: auto;
  }

}

.home-data {
  background: var(--blue-1) !important;
  padding: 78px 0 142px 0 ;
}

.home-data .row__title,
.home-data .row__desc {
  color: var(--white);
}

.home-data .row__title {
  margin-bottom: 24px;
}

.home-data .list {
  margin-top: 90px;
}

.statistic-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--white);
}

.statistic-data__num {
  position: relative;
  display: flex;
  font-size: 160px;
  font-weight: 600;
  line-height: 1;
}

.statistic-data__text {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}

.statistic-data__img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.statistic-data__icon.is-percent {
  width: 22px;
  height: 22px;
}

@media only screen and (max-width: 1200px) {
  .statistic-data__num {
    font-size: 120px;
    line-height: 128px;
  }

  .statistic-data__text {
    font-size: 24px;
  }

  .statistic-data__img-container {
    margin: 20px 0;
  }
}

.home-solution {
  background: var(--blue-0) !important;
}

.home-solution .row__title {
  margin-bottom: 60px;
}

.home-solution .list > li {
  margin-bottom: 30px;
}

.home-solution .card {
  display: flex;
  flex-direction: column;
  height: 252px;
  padding: 12px;
  background: #fff;
  box-shadow: var(--card-shadow);
  transition: all 0.3s ease;
}

.home-solution .card:hover {
  transform: scale(1.1);
  box-shadow: var(--card-hover-shadow);
}

.home-solution .card > .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--title-color-1);
  margin-bottom: 14px;
  text-align: center;
  line-height: 1;
}

.home-solution .card > .desc {
  font-size: 14px;
  font-weight: 400;
  color: var(--desc-color-1);
  text-align: center;
  line-height: 1;
}

.home-solution .card__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 26px;
}

.home-solution .list > li:nth-child(1) .card__img-container {
  background: #e9f8ff;
}
.home-solution .list > li:nth-child(2) .card__img-container {
  background: #eff6ff;
}
.home-solution .list > li:nth-child(3) .card__img-container {
  background: #f1fdf3;
}
.home-solution .list > li:nth-child(4) .card__img-container {
  background: #fdf9ed;
}
.home-solution .list > li:nth-child(5) .card__img-container {
  background: #eff6ff;
}
.home-solution .list > li:nth-child(6) .card__img-container {
  background: #faf2ff;
}
.home-solution .list > li:nth-child(7) .card__img-container {
  background: #eff9fb;
}
.home-solution .list > li:nth-child(8) .card__img-container {
  background: #fff1f0;
}

.home-case {
  background: var(--white) !important;
}